NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_FEATURE_AI=false
NEXT_PUBLIC_FEATURE_EVENTS=false
NEXT_PUBLIC_FEATURE_EMERGENCY=false
NEXT_PUBLIC_FEATURE_SAVED_TRIPS=false
NEXT_PUBLIC_FEATURE_ACCOUNTS=false
NEXT_PUBLIC_FEATURE_ADMIN=false
NEXT_PUBLIC_FEATURE_SYNTHETIC_DATA=true
